/* header style */
header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    /* margin-bottom: 1cm; */
    align-items: center;
    padding: 20px;
    height: 20px;
    width: 34.8cm;
    z-index: 9999;
    top: 0px;
}

body {
    background-color: #f1f1f1;
}

.site-name {
    font-weight: bold;
    cursor: pointer;
}

.owner-button {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 2mm;
    border: 0.5mm solid orange;
    cursor: pointer;
}

.owner-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.owner-name {
    font-weight: bold;
}

.online-dot {
    position: relative;
    width: 10px;
    height: 10px;
    right: 2.6cm;
    top: 3mm;
    background: rgb(44, 224, 44);
    border-radius: 50%;
    margin-left: 5px;
}

.logout {
    position: relative;
    display: none;
    width: 145px;
    height: 40px;
    border-radius: 2mm;
    border: 0.5mm solid orange;
    background-color: white;
    left: 25.3cm;
    bottom: 4mm;
    cursor: pointer;
}

.logout:hover {
    background-color: orange;
}

.logout p {
    cursor: pointer;
    padding-left: 10mm;
    padding-bottom: 5mm;
    font-weight: bold;
}

.fleche {
    transform: rotate(90deg);
}

/* style of vertical nav*/
.sidebar {
    width: 200px;
    height: 14cm;
    background: white;
    padding: 20px;
    margin-top: 64px;
    float: left;
    position: fixed;
    /* border: 0.5mm solid red; */
}

.button-container {
    /* border: 1mm solid red; */
    height: 40px;
}

.button-container img {
    width: 25px;
    height: 25px;
    position: relative;
    bottom: 43px;
    left: 90%;
}

.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 30px;
}

.profile-name {
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 45px;
}

.sidebar-button {
    width: 180px;
    height: 40px;
    background: #fff;
    border-radius: 2.5mm;
    border: none;
    margin-bottom: 10px;
    padding-right: 100%;
    transition: background 0.3s ease;
}

.sidebar-button:hover {
    background-color: orange;
    border-radius: 2.5mm;
}

/*------------------------------orders style-------------------------------------*/
main {
    position: relative;
    left: 6.5cm;
    /* border: 0.5mm solid blue; */
    top: 1.8cm;
    width: 29cm;
    height: auto;
}

.styled-table {
    /* top: 3cm; */
    position: absolute;
    width: 25cm;
    border-collapse: collapse;
}

.styled-table thead th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.styled-table th,
.styled-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #ece6e6;
}

.btn-group {
    display: flex;
    gap: 5px;
}

.btn-delete {
    position: relative;
    height: 0.8cm;
    width: 2cm;
    padding: 5px 10px;
    margin: 2mm;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: #e74c3c;
}

.btn-edit {
    position: relative;
    bottom: 0.8cm;
    height: 0.8cm;
    width: 5cm;
    left: 2.3cm;
    padding: 5px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: #3498db;
}

a {
    text-decoration: none;
    color: black;
}

.menu {
    width: 100px;
    height: 100px;
    border: 0.5mm solid red;
    background-color: yellow;
    display: inline-block;
}

.img {
    width: 260px;
    height: 300px;
    margin-top: 0cm;
    /* border: 0.5mm solid rgb(29, 4, 255); */
}

td {
    /* border: 0.5mm solid red; */
    height: 10cm;
    width: 5cm;
}

table {
    width: 1055px;
    /* border: 1mm solid green; */
    margin-left: 20px;
    position: relative;
    /* bottom: 14cm; */
}