/* header style */
header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: relative;
    bottom: 2mm;
    align-items: center;
    padding: 20px;
    height: 20px;
    width: 34.8cm;
}

body {
    background-color: #f1f1f1;
}

.site-name {
    font-weight: bold;
    cursor: pointer;
}

.owner-button {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 2mm;
    border: 0.5mm solid orange;
    cursor: pointer;
}

.owner-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.owner-name {
    font-weight: bold;
}

.online-dot {
    position: relative;
    width: 10px;
    height: 10px;
    right: 2.6cm;
    top: 3mm;
    background: rgb(44, 224, 44);
    border-radius: 50%;
    margin-left: 5px;
}

.logout {
    position: relative;
    display: none;
    width: 145px;
    height: 40px;
    border-radius: 2mm;
    border: 0.5mm solid orange;
    background-color: white;
    left: 25.3cm;
    bottom: 4mm;
    cursor: pointer;
}

.logout:hover {
    background-color: orange;
}

.logout p {
    cursor: pointer;
    padding-left: 10mm;
    padding-bottom: 5mm;
    font-weight: bold;
}

.fleche {
    transform: rotate(90deg);
}

/* style of vertical nav*/
.sidebar {
    width: 200px;
    height: 14cm;
    background: white;
    padding: 20px;
    margin-top: 0px;
    float: left;
}

.button-container {
    /* border: 1mm solid red; */
    height: 40px;
}

.button-container img {
    width: 25px;
    height: 25px;
    position: relative;
    bottom: 43px;
    left: 90%;
}

.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 30px;
}

.profile-name {
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 45px;
}

.sidebar-button {
    width: 180px;
    height: 40px;
    background: #fff;
    border-radius: 2.5mm;
    border: none;
    margin-bottom: 10px;
    padding-right: 100%;
    transition: background 0.3s ease;
}

.sidebar-button:hover {
    background-color: orange;
    border-radius: 2.5mm;
}
/*orders style*/
main{
    /* border: 0.5mm solid red; */
    position: relative;
    left: 6.5cm;
    width: 26cm;
    height: auto;
}

.styled-table {
    /* top: 3cm; */
    position: absolute;
    width: 25cm;
    border-collapse: collapse;
}

.styled-table thead th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.styled-table th,
.styled-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #ece6e6;
}

.btn-group {
    display: flex;
    gap: 5px;
}

a{
    text-decoration: none;
    color: black;
}

.no-reservations{
    position: relative;
    top: 5cm;
    left: 1cm;
}